.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  height: 100vh;
  background-color: $color-white-smoke;
  z-index: 10;
  overflow-y: auto;

  @media (max-width: 1180px) {
    width: 250px;
  }

  @media (max-width: 950px) {
    display: none;
  }


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white-smoke;
    z-index: -1;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 290px;
    position: relative;
    box-sizing: unset;
    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 71px;
      background-color: #E8E8E8;
      right: 0;
    }
  }

  &__nav {
    padding: 35px 0 0 0;
    max-width: 290px;
    background-color: $color-white-smoke;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $color-tangaroa;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.06px;
    padding: 9px 30px;
    width: 100%;
    background-color: $color-white-smoke ;

    @media (max-width: 1180px) {
      font-size: 16px;
      line-height: 20px;
      width: 100%;
    }

    &--active,
    &:hover {
      background-color: $color-white;
    }

    &-icon {
      color: $color-burnt-orange;

      @media (max-width: 1180px) {
        width: 29px;
        height: 29px;
      }
    }
  }

}