.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &__bar {
    width: 100vw;
    max-width: 609px;
    background-color: #E8E8E8;
    border-radius: 75px;
    height: 6px;
    cursor: pointer;

    @media (max-width: 1220px) {
      max-width: 550px;
    }

    @media (max-width: 1100px) {
      max-width: 480px;
    }

    @media (max-width: 960px) {
      max-width: 400px;
    }

    @media (max-width: 520px) {
      max-width: 260px;
    }

    &-count {
      width: 174px;
      height: 6px;
      background-color: $color-burnt-orange;
      border-radius: 75px;
    }
  }

  &__count {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.23px;
    letter-spacing: 0.015em;
    color: $color-almost-gray;
  }
}