.slider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 14px 0;

  @media (max-width:890px) {
    display: none;
  }

  &__label {
    display: flex;

  }

  &__icon {
    flex-shrink: 0;
  }

  &__level {
    appearance: none;
    width: 72px;
    height: 4px;
    background: linear-gradient(to right, $color-burnt-orange 50%, #e0e0e0 50%);
    border-radius: 39px;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: $color-burnt-orange;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &::-moz-range-thumb {
      width: 24px;
      height: 24px;
      background: $color-burnt-orange;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-track {
      background: linear-gradient(to right, $color-burnt-orange 50%, #e0e0e0 50%);
      height: 8px;
      border-radius: 4px;
    }
  }

  &__volume-display {
    font-size: 12px;
  }
}