@import "./variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-main;
  color: $color-black;
  background-color: $color-white;
  padding-left: 290px;

  @media (max-width: 1180px) {
    padding-left: 250px;
  }

  @media (max-width: 950px) {
    padding-left: unset;
  }

  @media (max-width: 950px) {
    background-color: $color-white-smoke;
  }
}

main {
  flex-grow: 1;
  margin: 0 0 100px 0;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}