// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-tangaroa: #11253D;
$color-burnt-orange: #FC6D3E;
$color-white-smoke: #F5F5F5;
$color-dark-gray: #A4A4A4;
$color-almost-gray: #AAAAAA;
$color-nero: #171717;

// Typography
$ff-main: "OpenSans", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;